.header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
  height: calc(var(--header-height) + 5px);
  padding: 2rem 2rem;

  position: fixed;
  top: 0;
  z-index: 40;

  backdrop-filter: blur(4.5px);

  &__inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    gap: .3rem;

    & > span {
      text-transform: uppercase;
      color: var(--background);
      align-self: start;
    }
  }
}

.right {
  justify-self: end;
}
