.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;

  z-index: 100;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);

  display: flex;
  align-items: center;
  padding: 0 48px;

  transition: background 0.3s ease, height 0.3s ease;
}
