.header {
  height: var(--header-height);
  padding: 0 60px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(4.5px);
  z-index: 100;

  &__menu {
    display: flex;
    flex-direction: row;
    gap: .3rem;

    & > span {
      text-transform: uppercase;
      color: var(--background);
      align-self: start;
    }
  }
}

.right {
  justify-self: end;
}
