.header {
  height: var(--header-height);
  padding: 0 60px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(3px);
  z-index: 100;
}
