.card {
  position: relative;
  width: 100%;
  height: 60hv;
  border-radius: 24px;
  overflow: hidden;
  cursor: pointer;
}

.link {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;

  padding: 12px 24px;
  border-radius: 999px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-decoration: none;
  font-weight: 500;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.card:hover .link {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(-4px);
}


.bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
                  to top,
                  rgba(0, 0, 0, 0.6),
                  rgba(0, 0, 0, 0)
  );
  z-index: 2;
}

.content {
  position: absolute;
  inset: 0;
  z-index: 3;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 24px;
  color: #fff;
  text-align: center;
}

.title {
  font-family: var(--font-calligraffiti), 'Roboto', sans-serif;
  font-size: var(--font-size-m);
}