.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1700px;

  margin: 0 auto;
}

.swiper {
  border-radius: 3cqw;
  width: 100%;
  height: 100%;
  max-height: 80vh;
}

.swiper :global(.swiper-slide) {
  border-radius: 3cqw;
  overflow: hidden;
}

.controls {
  display: flex;
  justify-content: flex-end;
}
