.wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper :global(.swiper-slide) {
  border-radius: 3cqw;
}

.slide {
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: .5rem;

  &__nav {
    display: flex;
    flex-direction: row;
    gap: .5rem;
  }
}


