.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1700px;

  margin: 2rem auto;
}

.swiper {
  width: 100%;
  height: 100%;
  max-height: 80vh;
}

.swiper :global(.swiper-slide) {
  border-radius: 3cqw;
}

.controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: .5rem;

  &__nav {
    display: flex;
    flex-direction: row;
    gap: .5rem;
  }
}
