.review {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  justify-content: space-between;

  &__source {
    font-weight: 700;
    white-space: nowrap;
    transition: all .3s ease-in-out;

    &:hover {
      color: var(--background);
    }
  }

  &__icon {
    display: flex;
    align-items: center;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__count {
    white-space: nowrap;
  }

  &__rating {
    font-weight: 600;
    white-space: nowrap;

    span {
      font-weight: 400;
    }
  }
}
