.form {
  display: flex;
  width: 100%;
  background-color: var(--background);
  border: 1px solid var(--border);
  padding: 1rem 1.5rem;
  align-items: end;

  &__inner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    padding: 0 1.5rem;

  }

  &__row {
    display: flex;
    align-items: center;
    gap: .75rem;
  }
}
