.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.content {
  position: relative;
  z-index: 3;
  width: 100vw;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;

  color: #fff;
}

.content__info {
  grid-row: 2;
  text-align: center;
}

.booking {
  grid-row: 3;
  align-self: end;
}
