.section {
  margin-top: calc(var(--header-height));
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--background);

  &__hero {
    width: 100%;
    position: relative;


    &_controls {
      display: flex;
      flex-direction: row;
      align-items: center;

      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  }


}

