.controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
  align-items: center;
  justify-content: center;

  padding: .5rem;
  border-radius: 1rem;
  background-color: var(--gray);
}

.count{
  text-align: center;
  color: var(--foreground);
}