.price_request {
  width: 100%;
  height: var(--header-height);
  backdrop-filter: blur(4.5px);
  align-content: center;

  &__content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 0 4rem;
    align-items: center;
  }

  &__controller {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

.right {
  justify-self: end;
}
