.price_request {
  width: 100%;
  height: var(--header-height);
  align-content: center;
  background: var(--foreground);
  color: var(--background);
  border-radius: 4rem;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3),
  0 2px 8px rgba(0, 0, 0, 0.2),
  inset 0 1px 0 rgba(255, 255, 255, 0.1);
  overflow: hidden;

  &__content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 0 4rem;
    align-items: center;
  }

  &__controller {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

.right {
  justify-self: end;
}

.block {
  z-index: 500;
}