.page {
  font-family: var(--font-inter), serif;
  background-color: var(--bg-page);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__title {
    color: #0070f3;
    font-weight: 500;
    font-size: var(--font-size-m);
  }
}

.content {
  display: grid;
  grid-template-columns: 20rem 1fr 20rem;
  gap: 1.5rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 100%;
  min-height: 44px;

  padding: 12px 16px;
  border-radius: 12px;

  color: #475467;
  text-decoration: none;

  transition: all .2s ease;

  svg {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
  }

  span {
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
  }

  &:hover {
    background: #F2F4F7;
    color: #101828;
  }

  &:active {
    transform: scale(.98);
  }
}

.active {
  background: #EEF4FF;
  color: #155EEF;

  svg {
    color: #155EEF;
  }
}