.rooms {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 0 3rem;
  margin: 0 auto;
  gap: 3rem;


  &__title {
    font-weight: 500;
    font-size: var(--font-size-m);
    text-align: center;
  }

  &__tabs {
    align-items: center;
  }


}

.tabs {
  align-items: center;

  &__trigerList {
    display: flex;
    justify-content: center;
    margin: 0 auto 2rem;
    background-color: transparent !important;

  }
}

.tabs__trigger {
  font-size: 16px;
  color: #888;
  background: transparent;
  border-bottom: 2px solid transparent;
  transition: all 0.25s ease;

  &[data-state='active'] {
    font-weight: 600;
    text-decoration: underline;
    color: #111;
  }

  &:hover {
    color: #111;
  }
}
