.rooms {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 0 3rem;
  margin: 0 auto;
  gap: 3rem;


  &__title {
    font-weight: 500;
    font-size: var(--font-size-m);
    text-align: center;
  }

  &__tabs {
    align-items: center;
  }
}