.hero {
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--background);
  min-height: 100svh;
  height: 100dvh;
  padding-top: var(--header-height);


  &__inner {
    height: calc(100% - 150px);
    width: 100%;
    max-width: calc(100% - 150px);
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 700px;
    text-align: center;
    color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    z-index: 3;

    &__pre_title {
      font-weight: 500;
      font-size: var(--font-size-m);
      text-transform: uppercase;
      line-height: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__main_title {
      font-family: var(--font-calligraffiti), 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 8rem;
      line-height: 7rem;
      text-align: center;
    }

  }

  & .desktop {
    height: calc(100svh - 150px);
    display: block;
    border-radius: 1rem;
    overflow: hidden;
  }
}


