.card {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.media {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 1;
  }


  img, video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.card > div {
  z-index: 1;
  margin-top: auto;

  h3 {
    margin: 0 0 0.5rem 0;
  }

  p {
    margin: 0;
  }
}