.page {
  margin-top: var(--header-height);
}

.gallery {
  &__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: .5rem;
    height: 30rem;
    position: relative;
  }

  &__slide {
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    height: 30rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .5rem;
    width: 100%;
    height: inherit;

    & > img {
      border-radius: 1rem;
    }
  }

  &__controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
  }
}