.section {
  height: 100vh;
  margin-top: calc(var(--header-height) * 1);
  padding: 0 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}


.title {
  font-weight: 500;
  font-size: clamp(1.25rem, 1.85rem, 2rem);
  letter-spacing: 0.1em;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;

  font-size: var(--font-size-s);
  line-height: 1.8rem;

  &_item {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:after {
      content: "∙";
      font-weight: bold;
      font-size: var(--font-size-s);
      padding: 0 0.5rem;
    }
  }
}