.section {
  height: 100vh;
  margin-top: calc(var(--header-height) * 1);
  padding: 0 1.5rem;
}


.title {
  font-weight: 500;
  font-size: clamp(1.25rem, 1.85rem, 2rem);
  letter-spacing: 0.1em;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}