.info {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__title {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}