.about {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;

  &__title {
    font-size: 25px;
    font-weight: 300;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
  }
}